{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour Admin !</h1>

    {% if usersToValidate|length > 0 %}
        <h2>Voici les utilisateurs à valider :</h2>

        <ul>
            {% for user in usersToValidate %}

                {{ component('UserCard', { userComp: user}) }}

            {% endfor %}
        </ul>

    {% else %}
        <p>Pas de nouvel utilisateur à valider...</p>
    {% endif %}

    {# TODO: add the list of activities using the AdminActivityCard component #}

</div>
{% endblock %}
